body{
    background-image: url("../img/bg.jpg");
    
}

h1{
    color:#ffffff;

}
label{
    color:#ffffff;  
}
.text-muted{
    color:#ffffff !important;  

}

h5{
    color:orange;

}
.piz{
    background: #ffffff !important;
    margin-top: 8%;
}
.additional{
    display: none;
}
h6{
    color: #007bff;
}
#orderdetails{
    display: none;
}
.answer{
    display:none;
}